{% extends "base.html" %}
{% block title %} Cancelar Turno {% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Cancelacion de turnos</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }} 
            </div>
        {% endif %}
        {% endwith %}
        <form action="/cancelarTurno" method="POST">            

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="mail" placeholder="Mail" autofocus="">
                </div>
            </div>           

            <button class="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}