{% extends "base.html" %}
{% block title %} Centros {% endblock %}
{% block content %}
        <div class="container">
            {% for image_name in image_names %}
            <div class="row">              
                <div class="col">
                    <img class="img-thumbnail rounded float-left" src=" {{url_for('send_image', filename=image_name, tipo=2)}}">
                </div>
                <div class="col">
                   <h4> {{centros[image_names.index(image_name)].nombre}} </h4> 
                </div> 
            </div>
            {% endfor %} 
        </div>
{% endblock %}