{% extends "base.html" %}
{% block title %} Centros {% endblock %}
{% block content %}
        <div class="container">
            {% for image_name in image_names %}
            <div class="row">              
                <div class="col">
                    <img class="img-thumbnail rounded float-left" src=" {{url_for('send_image', filename=image_name, tipo=2)}}">
                </div>
                <div class="col">
                    <h5> {{centros[image_names.index(image_name)].nombre}} </h5>
                    <ul>
                        {% for sacerdote in centros[image_names.index(image_name)].sacerdotesyDisponibilidad %}
                        <li>
                            <h7> {{sacerdote[0].apellidoNombre}}</h7>
                            <ul>
                                {% for atenciones in sacerdote[1:] %}
                                    {% for a in atenciones:%}
                                        <li>{{a[0]}}: {{a[1].strftime("%H:%M")}}-{{a[2].strftime("%H:%M")}} </li>                                  
                                    {% endfor%}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %} 
                   </ul>
                </div> 
            </div>
            {% endfor %} 
        </div>
{% endblock %}