<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

    <meta name="HandheldFriendly" content="true">
</head>
{% block content %}
<h3>No se olvide de confirmar el turno</h3>
<p>Si no lo confirma su turno no se hara efectivo y otro podra tomarlo</p>
<div class = "row">
    <div class = "col">
        <h4>Datos del turno</h4>
           <ul>
               <li>Centro: {{ centro.nombre }}</li>
               <li>Sacerdote: {{ sacerdote.apellidoNombre }}</li>
               <li>Fecha: {{ fecha }}</li>
               <li>Hora: {{ hora }}</li>
           </ul>
    </div>
    <div class="col justify-content-center align-self-center">
        <div class="row">

            <a href="http://127.0.0.1:5000/confirmarTurno/{{ mail }}/{{centro.idCentro}}/{{sacerdote.id}}/{{ fecha }} {{ hora }}"  class="btn btn-outline-secondary">Confirmar Turno</a>
        </div>
    </div>
</div>
{% endblock %}
