{% extends "base.html" %}
{% block title %} Sacerdotes {% endblock %}
{% block content %}
        <div class="container">
            {% for image_name in image_names %}
            <div class="row">              
                <div class="col">
                    <img class="img-thumbnail rounded float-left" src=" {{url_for('send_image', filename=image_name, tipo=1)}}">
                </div>
                <div class="col">
                   <h5> {{sacerdotes[image_names.index(image_name)].apellidoNombre}} </h5>
                    <ul>
                        {% for centro in sacerdotes[image_names.index(image_name)].centrosyDisponibilidad %}
                        <li>
                            <h7> {{centro[0].nombre}} - {{centro[0].direccion}} </h7>
                            <ul>
                                {% for atenciones in centro[1:] %}
                                    {% for a in atenciones:%}
                                        <li>{{a[0]}}: {{a[1].strftime("%H:%M")}}-{{a[2].strftime("%H:%M")}} </li>                                  
                                    {% endfor%}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %} 
                   </ul>         
                </div> 
                <div class="col justify-content-center align-self-center">
                    <div class="row">
                        <a href="/turnoSacerdote/{{sacerdotes[image_names.index(image_name)].idSacerdote}}" class="btn btn-outline-secondary">Seleccionar</a>
                    </div>
                </div>                 
            </div>
            {% endfor %} 
        </div>
{% endblock %}