{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Home
{% endblock %}

{% block content %}

<style>
    .container {
          padding-top: 80px;
          padding-left: 80px;
          padding-right: 40px;
          background-color: rgb(148, 167, 187);
          }
    .card {
          border-radius: 10px;
          padding: 15px;
          max-width: 500px;
          margin:  auto;
          text-align: center;
      }
    table{
          margin-left: auto;
          margin-right: auto;
          font-size: 11px;
  }

    table,td {
          border: 0.5px solid black;
        }

</style>
    <div class="container" container>
    <div class="row" >
      <div class="col-lg-5 mb-4" >
        <div class="card " style="height: 300px">
          <div class="card-body ">
            <h4 class="card-title ">
              <a href="#" style="text-decoration:none">Próximos Parciales</a>
            </h4>
                     <!-- inicio tablas parciales-->
					<div class="card">
                            <table class="table ">
                                <tr class="bg-primary">
                                    <td><b>Condicion</b></td>
                                    <td><b>Detalle</b></td>
                                    <td><b>Ver</b></td>
                                </tr>
                                <tr>
                                      <td>
                                        <strong><span style="color: #ff0000;">No realizado</span></strong>
                                      </td>
                                       <td>
                                          <a>30/8/2020 Soporte</a>
                                      </td>
                                      <td>
                                          <strong>Detalle</strong>
                                      </td>
                                </tr>

                            </table>
                      </div>
             <!--fin tablas parciales-->

          </div>
        </div>
      </div>
      <div class="col-lg-5 mb-4 offset-lg-1 " >
        <div class="card " style="height: 300px">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" style="text-decoration:none">Próximas Tareas</a>
             </h4>
            <!-- inicio tablas tarea-->
					<div class="card">
                            <table class="table ">
                                <tr class="bg-primary">
                                    <td><b>Condicion</b></td>
                                    <td><b>Detalle</b></td>
                                    <td><b>Ver</b></td>
                                    </tr>
                                    <tr>
                                      <td>
                                          <span style="color: #00ff00;"><strong>Realizada</strong></span>
                                      </td>
                                      <td>
                                          <a>15/8/2020 Simulacion</a>
                                      </td>
                                      <td>
                                          <strong>Detalle</strong>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <strong><span style="color: #ff0000;">No realizada</span></strong>
                                      </td>
                                       <td>
                                          <a>20/8/2020 Soporte</a>
                                      </td>
                                      <td>
                                          <strong>Detalle</strong>
                                      </td>
                                    </tr>

                            </table>
                      </div>
             <!--fin tablas tareas-->

          </div>
        </div>
      </div>

      <div class="col-lg-5 mb-4">
        <div class="card " style="height: 300px">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" style="text-decoration:none">Ver Calendario</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-5 mb-4 offset-lg-1">
        <div class="card " style="height: 300px">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" style="text-decoration:none">Ver Materias</a>
            </h4>
                          <!-- inicio tablas materias-->
					<div class="card">
                            <table class="table ">
                                <tr class="bg-primary">
                                    <td><b>Nombre</b></td>
                                    <td><b>Profesor</b></td>
                                    <td><b>Comision</b></td>
                                    <td><b>Horario</b></td>
                                    </tr>
                                    <tr>
                                      <td>
                                          <a>Soporte</a>
                                      </td>
                                      <td>
                                          <a>Torres</a>
                                      </td>
                                      <td>
                                          <a>404</a>
                                      </td>
                                      <td>
                                          <a>Lunes-18:30</a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <a>Simulacion</a>
                                      </td>
                                       <td>
                                          <a>Torres</a>
                                      </td>
                                      <td>
                                          <a>404</a>
                                      </td>
                                      <td>
                                          <a>Lunes-18:30</a>
                                      </td>
                                    </tr>

                            </table>
             <!--fin tablas materias-->
                    </div>
          </div>
        </div>
      </div>

  </div>
    {% include 'footer.html' %}
            </div>
        </div>
{% endblock %}
