main .container {
          padding-top: 80px;
          padding-left: 80px;
          padding-right: 40px;
          font-family: Arial, Helvetica, sans-serif;
          }
 main .container .row .card {
          border-radius: 10px;
          padding: 15px;
          max-width: 500px;
          margin:  auto;
          text-align: center;
 }
main table{
          margin-left: auto;
          margin-right: auto;
          font-size: 11px;
}

main table,td {
          border: 0.5px solid black;
}

