VUE_APP_LANDING=http://IP:LandingPORT
VUE_APP_BASE_API=http://IP:CVMEPORT/CVMEJavaEnvironment/rest/
VUE_APP_OAUTH_URL=http://IP:CVMEPORT/CVMEJavaEnvironment/oauth/access_token
VUE_APP_GXOBJECT_API=http://IP:CVMEPORT/CVMEJavaEnvironment/gxobject
VUE_APP_FILE_STORAGE=http://IP:CVMEPORT/CVMEJavaEnvironment/WEB-INF/PrivateTempStorage
VUE_APP_BASIC_AUTH_TOKEN=ZWNyYWZ0OmVjcmFmdDEyMy4=
VUE_APP_CLIENT_ID=7b61ba70b78b4b7cb39d41aa3ab04689


VUE_APP_CAPTCHA_ENABLE=false
VUE_APP_CAPTCHA_KEY=6LdDcbcZAAAAAEJswq0VmH4BpKGR_U4E40B3JACr